@import "variables";

.checkout-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: rgb(219, 214, 214);
  .left_panel {
    font-weight: lighter;
    margin: 2%;
    background-color: #fff;
    display: flex;
    width: 60%;
    padding: 50px;

    flex-direction: column;
    .button {
      display: flex;
    }
    .tologin {
      display: inline-block;
      padding: 0.5rem;
      width: 180px;
      font-size: 15px;
      border: 1px solid $theme-color;
    }
    .toquick-payment {
      margin-left: 20px;
      display: inline-block;
      padding: 0.5rem;
      font-size: 15px;
      width: 180px;
      background-color: $theme-color;
    }
    h5{
      margin-top: 15px;
    }
    .btn {
      outline: none !important;
    }
    .btn:hover {
      transform: scale(1.1);
    }
  }
  .right_panel {
    font-weight: lighter;
    margin: 2%;
    padding: 50px;
    background-color: #fff;
    width: 35%;
    display: flex;
    flex-direction: column;
    h3 {
      font-weight: normal;
    }
    .cart-items {
      display: flex;
      flex-direction: column;
      color: rgb(165, 158, 158);
      .cart-item {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 25px;
        .img {
          width: 25px;
          img {
            width: 15px;
            height: 15px;
          }
        }
        .name {
          flex-grow: 2;
          // flex-wrap: nowrap;
        }
        .price {
          width: 95px;
          right: 0;
        }
        .numofitem {
          width: 75px;
          left: 0;
        }
        .amount {
          width: 55px;
          align-content: flex-end;
        }
      }
    }
    .box-to-suggestion {
      margin-top: 5px;
      margin-bottom: 5px;
      border: 0.5px solid rgb(177, 176, 176);
      height: 40px;
      width: 100%;
      border-radius: 3px;
      font-size: 14px;
      display: flex;
      flex-direction: row;
      align-items: center;

      .fa {
        width: 25px;
        margin-left: 5px;
      }
      input {
        outline: none;
        border: none;
        flex-grow: 2;
      }
      .fa-envelope {
        font-size: 25px;
        margin-right: 5px;
        width: 25px;
        align-content: flex-end;
      }
    }
    h6 {
      margin-top: 7px;
    }
    .item-total {
      margin-top: 7px;
      height: 25px;
      display: flex;
      justify-content: space-between;
    }
    .Delivery-Charge {
      margin-top: 7px;

      height: 25px;

      display: flex;
      justify-content: space-between;
    }
    .Tax {
      margin-top: 7px;

      height: 25px;

      display: flex;
      justify-content: space-between;
    }
    .Tip {
      margin-top: 7px;

      height: 25px;

      display: flex;
      justify-content: space-between;
      .boxb {
        height: 30px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 75px;
        border-radius: 5px;
        color: $theme-color;
        border: 1px solid $theme-color;
      }
    }
    .total_pay {
      height: 25px;

      display: flex;
      justify-content: space-between;
    }
    .hr {
      margin-top: 15px;
      margin-bottom: 5px;
      border-bottom: 1px dotted #444;
    }
  }
}
.tip_baba {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 80px; /* Location of the box */
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  .tip-container {
    width: 60%;
    padding: 1rem;
    background-color: #fff;
    height: 400px;
    .tip-header {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .tipbtn {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .bgt {
      background-color: $theme-color;
    }
    .tip_value {
      margin: 5px;
      border-radius: 15px;
      border: 1px solid $theme-color;
      width: 28%;
      height: 140px;
      display: flex;
      align-items: center;
      justify-content: center;
      input {
        display: flex;
        width: 100%;
        height: 25%;
        border: none;
        outline: none;
        z-index: inherit;
      }
    }
    .tip_bottom {
      margin-top: 10px;
      display: flex;
      justify-content: flex-end;
      .btnb {
        margin-right: 10px;
        border: none;
        outline: none;
        background-color: $theme-color;
        width: 125px;
        height: 25px;
        border-radius: 5px;
      }
    }
  }
}
