@import "variables";

.container-main {
  width: 100%;
}

.category-cotainer {
  position: sticky;
  top: 0;

  .cate_element-c {
    display: flex;
    margin-left: 58px;
    height: 56px;
    align-items: center;
    font-size: $padding-md;
  }
}
.cate_element {
  display: flex;
  height: 56px;
  align-items: center;
  font-size: $padding-md;
  div {
    margin-left: 58px;
    display: flex;
    justify-content: space-between;
    span {
    margin-left: 5px;
    }
  }
}
.cate_element:hover {
  background-color: #c9c5c5;
}

.dropdown,
.bottom-btn {
  display: none;
}
@media only screen and (max-width: 650px) {
  .sec_2 {
    width: 100%;
  }
  .dropdown {
    display: inline;
    border: 2px solid black;
  }

  .bottom-btn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: rgb(255, 145, 71);
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
  }
  .bottom-btn .desc {
    margin-left: 5px;
  }
  .bottom-btn .btn {
    margin-right: 5px;
    width: 120px;
    height: 40px;
  }
  .sec_1,
  .sec_3 {
    display: none;
  }
}
